
#masthead {
  height: 500px;
  background: 50% 50% url(/assets/doves-breaking-free.jpg) no-repeat;
  background-size: cover;
  max-width: 1000px;
  padding: 30px;
  margin: 0px auto;
}

body {
  background-color: black;
  padding: 50px;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  line-height: 1.8em;
}

#main {
  background-color: white;
  margin: 0px auto;
  padding: 30px;
  max-width: 1000px;
}

section {
  margin-top: 30px;
  display: flex;
  .icon {}
  .text {
    padding-left: 20px;
  }
  h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}