!!!
%html{:lang => @locals[:locale].to_s}
  %head
    %title
      = @page.nav_title + ' - ' + @site.title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(charset="UTF-8")
    = render 'layouts/meta', description: @page.props.summary
    %link(rel="stylesheet" href="/assets/style.css")
    %link(rel="icon" href="/assets/liberate-avatar.png" type="image/x-icon")
    = html_head_base
  %body.home
    #masthead
    #main
      = yield
    - #footer
    - #  = render 'layouts/footer'
